body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Signika Negative', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

.top-banner {
    height: 700px;
    background-image: url('images/donation13.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
}


h1 {
    padding-top: 10%;
    font-size: 70px;

}

h2 {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    margin-top: 8%;
}

.cover-page {
    text-align: center;
    color: white;
}

span {
    color: tomato;
}

.banner-pra {
    color: white;
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30%;
    margin-right: 30%;
}


.Paragraph {
    color: gray;
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30%;
    margin-right: 30%;
}


.link-button {
    text-decoration: none;
    background-color: tomato;
    padding: 15px 25px;
    color: white;
    border-radius: 5px;
    font-size: 25px;
}

.amount-list {
    text-align: center;
}

.button {
    background-color: rgb(244, 235, 235);
    border-radius: 5px;
    color: gray;
    font-size: 35px;
    font-weight: bold;
    padding: 45px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 15px;
    cursor: pointer;
}

#select-button {
    background-color: rgb(249, 216, 216);
    color: tomato;
    border-radius: 5px;
    border: 2px solid tomato;
    font-size: 35px;
    font-weight: bold;
    padding: 45px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 15px;
    cursor: pointer;
}



input[type=number] {
    text-align: center;
    width: 55%;
    font-size: 20px;
    padding: 12px 20px;
    box-sizing: border-box;
    margin-bottom: 40px;
    border: none;
    border-bottom: 2px solid rgb(215, 207, 207);
}

.flexible-container {
    display: flex;
}

.plan-list {
    width: 25%;
    height: 400px;
    margin-top: 5%;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 15px;
    border-radius: 5px;
}

h3 {
    font-size: 25px;
    font-weight: bold;
}

#food-family {

    background-color: #EDF5F6;
    margin-left: 8%;
    margin-right: 2%;

}

#shelter-family {
    background-color: #FFEEEE;
}

#child-education {
    background-color: #FFF4D6;
    margin-left: 2%;
    margin-right: 8%;
}

#donation {
    margin-left: 15%;
    margin-right: 2%;
}

#voulentier {
    margin-left: 2%;
    margin-right: 8%;
}


.plan-list img {
    margin-top: 16%;
}

.color {
    color: gray;
}

.update {
    background-color: #FFF4D6;
    text-align: center;
    padding: 95px 25px;
    margin-left: 22%;
    margin-right: 22%;
    margin-top: 4%;
    font-size: 25px;
}

.email-box {
    background-color: rgb(186, 178, 178);
    border: none;
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 15px;
    width: 35%;
    margin-right: 0;

}

footer {
    text-align: center;
    margin-top: 5%;
    padding: 25px 25px;
    background-color: rgb(27, 25, 25);
}

#foot-header {
    color: red;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}

#foot-pra {
    color: white;
}